/* Copyright 2012, Evernote Corp
 *
 * author: Andrei Thorp, athorp@evernote.com
 */
/*** Evernote CSS Framework ***/
/* "Evernote Green" */
.focus-NotesView-NotesView .focus-drawer-HelpIllustration-container {
  box-sizing: border-box;
  padding: 0 45px;
  position: static;
  text-align: center;
  width: 100%;
}
.focus-NotesView-NotesView .focus-drawer-HelpIllustration-container .newNoteIcon {
  display: inline-block;
  width: 16px;
  height: 16px;
}
@media all {
  .focus-NotesView-NotesView .focus-drawer-HelpIllustration-container .newNoteIcon {
    background:  url("/redesign/global/js/focus/img/NotesView/plus_gray_16.png") center;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-NotesView-NotesView .focus-drawer-HelpIllustration-container .newNoteIcon {
    background:  url("/redesign/global/js/focus/img/NotesView/plus_gray_16@2x.png") center;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
.focus-NotesView-NotesView .focus-drawer-HelpIllustration-container.focus-drawer-HelpIllustration-tags .focus-drawer-HelpIllustration-header {
  line-height: 26px;
  color: #ababab;
}
.focus-NotesView-NotesView .focus-drawer-HelpIllustration-container.focus-drawer-HelpIllustration-search .focus-drawer-HelpIllustration-header {
  line-height: 26px;
  color: #ababab;
}
.focus-NotesView-NotesView .focus-drawer-HelpIllustration-container.focus-drawer-HelpIllustration-search .focus-drawer-HelpIllustration-body {
  color: #ababab;
  line-height: 20px;
}
.focus-NotesView-EmptyState-container {
  margin-top: 139px;
  height: 200px;
}
.focus-NotesView-EmptyState-HelpImageNotes {
  width: 74px;
  height: 71px;
}
@media all {
  .focus-NotesView-EmptyState-HelpImageNotes {
    background:  url("/redesign/global/js/focus/img/NotesView/drawers_empty_state_notes.png") center;
    -webkit-background-size: 74px 71px;
    -moz-background-size: 74px 71px;
    -o-background-size: 74px 71px;
    background-size: 74px 71px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-NotesView-EmptyState-HelpImageNotes {
    background:  url("/redesign/global/js/focus/img/NotesView/drawers_empty_state_notes@2x.png") center;
    -webkit-background-size: 74px 71px;
    -moz-background-size: 74px 71px;
    -o-background-size: 74px 71px;
    background-size: 74px 71px;
  }
}
.focus-NotesView-EmptyState-HelpImageTags {
  width: 50px;
  height: 50px;
}
@media all {
  .focus-NotesView-EmptyState-HelpImageTags {
    background:  url("/redesign/global/js/focus/img/NotesView/drawers_empty_state_search_icon.png") center;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -o-background-size: 50px 50px;
    background-size: 50px 50px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-NotesView-EmptyState-HelpImageTags {
    background:  url("/redesign/global/js/focus/img/NotesView/drawers_empty_state_search_icon@2x.png") center;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -o-background-size: 50px 50px;
    background-size: 50px 50px;
  }
}
.focus-NotesView-EmptyState-HelpImageSearch {
  width: 50px;
  height: 50px;
}
@media all {
  .focus-NotesView-EmptyState-HelpImageSearch {
    background:  url("/redesign/global/js/focus/img/NotesView/drawers_empty_state_search_icon.png") center;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -o-background-size: 50px 50px;
    background-size: 50px 50px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-NotesView-EmptyState-HelpImageSearch {
    background:  url("/redesign/global/js/focus/img/NotesView/drawers_empty_state_search_icon@2x.png") center;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -o-background-size: 50px 50px;
    background-size: 50px 50px;
  }
}
