/* Copyright 2012, Evernote Corp
 *
 * author: Andrei Thorp, athorp@evernote.com
 */
/*** Evernote CSS Framework ***/
/* "Evernote Green" */
.FleChecklist-root {
  border-bottom: 1px solid #ececec;
}
.FleChecklist-root .FleChecklist-close {
  position: absolute;
  top: 0;
  right: 23px;
}
.FleChecklist-root .FleChecklist-close > svg {
  height: 10px;
}
.FleChecklist-root .FleChecklist-close > svg path {
  fill: #4a4a4a;
}
.FleChecklist-root h1 {
  margin-right: 20px;
  margin-left: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #4a4a4a;
  margin-bottom: 5px;
}
.FleChecklist-root h3 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #878787;
  margin: 0 20px 12px 41px;
}
.FleChecklist-root p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #878787;
}
.FleChecklist-root .FleChecklist-description {
  margin-right: 20px;
  margin-left: 24px;
  line-height: 16px;
  margin-bottom: 15px;
}
.FleChecklist-root .FleChecklist-meter {
  margin-right: 20px;
  margin-left: 24px;
  display: flex;
  height: 22px;
  border: 1px solid #20c05c;
  border-radius: 11px;
  margin-bottom: 20px;
}
.FleChecklist-root .FleChecklist-meter > .FleChecklist-step {
  flex: 1;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
.FleChecklist-root .FleChecklist-meter > .FleChecklist-step:first-child {
  border-left: 2px solid white;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
}
.FleChecklist-root .FleChecklist-meter > .FleChecklist-step:last-child {
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
}
.FleChecklist-root .FleChecklist-meter > .FleChecklist-ratio-text {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #2dbe60;
  flex: 1;
  line-height: 22px;
  text-align: center;
}
.FleChecklist-root .FleChecklist-checklist-item {
  position: relative;
  margin: 0 10px 12px 48px;
}
.FleChecklist-root .FleChecklist-checklist-item :last-child {
  margin-bottom: 22px;
}
.FleChecklist-root .FleChecklist-checklist-item h2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #2dbe60;
  text-decoration: underline;
}
.FleChecklist-root .FleChecklist-checklist-item h2.FleChecklist-complete {
  color: #878787;
  text-decoration: line-through;
}
.FleChecklist-root .FleChecklist-checklist-item h2 span {
  cursor: pointer;
}
.FleChecklist-root .FleChecklist-checklist-item p {
  margin-top: 5px;
}
.FleChecklist-root .FleChecklist-checklist-item .FleChecklist-checklist-icon {
  position: absolute;
  top: 0;
  left: -24px;
}
.FleChecklist-root .FleChecklist-checklist-item .FleChecklist-checklist-icon .FleChecklist-number {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 9px;
  line-height: 13px;
  color: #2dbe60;
  text-align: center;
  border: 1px solid #2dbe60;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: default;
}
.FleChecklist-root .FleChecklist-checklist-item .FleChecklist-checklist-icon .FleChecklist-complete {
  border: 1px solid #878787;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.FleChecklist-root .FleChecklist-checklist-item .FleChecklist-checklist-icon .FleChecklist-complete > svg {
  height: 9px;
  vertical-align: top;
  margin: 3px 0 0 -1px;
}
.FleChecklist-root .FleChecklist-checklist-item .FleChecklist-checklist-icon .FleChecklist-complete > svg path {
  fill: #878787;
}
