/* Copyright 2012, Evernote Corp
 *
 * author: Andrei Thorp, athorp@evernote.com
 */
/*** Evernote CSS Framework ***/
/* "Evernote Green" */
.focus-drawer-HelpIllustration-container {
  box-sizing: border-box;
  padding: 0 45px;
  position: absolute;
  text-align: center;
  top: 180px;
  width: 100%;
}
.focus-drawer-HelpIllustration-image {
  display: inline-block;
}
.focus-drawer-HelpIllustration-header {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: caecilia, times, serif;
  font-size: 16px;
  font-weight: 400;
  color: #4a4a4a;
  margin-top: 20px;
  word-wrap: break-word;
}
.focus-drawer-HelpIllustration-body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #878787;
  line-height: 20px;
  margin-top: 8px;
  word-wrap: break-word;
}
