/* Copyright 2012, Evernote Corp
 *
 * author: Andrei Thorp, athorp@evernote.com
 */
/*** Evernote CSS Framework ***/
.focus-editor-SaveAnimation-Icon-icon {
  height: 18px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 19px;
}
.focus-editor-SaveAnimation-Icon-icon.focus-editor-SaveAnimation-Icon-gray {
  transition: opacity 0s 1s;
}
@media all {
  .focus-editor-SaveAnimation-Icon-icon.focus-editor-SaveAnimation-Icon-gray {
    background:  url("/redesign/global/js/focus/img/editor_save_gray.gif") center;
    -webkit-background-size: 19px 18px;
    -moz-background-size: 19px 18px;
    -o-background-size: 19px 18px;
    background-size: 19px 18px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-editor-SaveAnimation-Icon-icon.focus-editor-SaveAnimation-Icon-gray {
    background:  url("/redesign/global/js/focus/img/editor_save_gray@2x.gif") center;
    -webkit-background-size: 19px 18px;
    -moz-background-size: 19px 18px;
    -o-background-size: 19px 18px;
    background-size: 19px 18px;
  }
}
.focus-editor-SaveAnimation-Icon-icon.focus-editor-SaveAnimation-Icon-green {
  transition: opacity 0.2s ease-in-out 1s;
}
@media all {
  .focus-editor-SaveAnimation-Icon-icon.focus-editor-SaveAnimation-Icon-green {
    background:  url("/redesign/global/js/focus/img/editor_save_green.gif") center;
    -webkit-background-size: 19px 18px;
    -moz-background-size: 19px 18px;
    -o-background-size: 19px 18px;
    background-size: 19px 18px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-editor-SaveAnimation-Icon-icon.focus-editor-SaveAnimation-Icon-green {
    background:  url("/redesign/global/js/focus/img/editor_save_green@2x.gif") center;
    -webkit-background-size: 19px 18px;
    -moz-background-size: 19px 18px;
    -o-background-size: 19px 18px;
    background-size: 19px 18px;
  }
}
.focus-editor-SaveAnimation-Icon-icon.focus-editor-SaveAnimation-Icon-in-progress {
  transition: opacity 0.4s ease-in-out 2.5s;
}
@media all {
  .focus-editor-SaveAnimation-Icon-icon.focus-editor-SaveAnimation-Icon-in-progress {
    background:  url("/redesign/global/js/focus/img/editor_save_animation.gif") center;
    -webkit-background-size: 19px 18px;
    -moz-background-size: 19px 18px;
    -o-background-size: 19px 18px;
    background-size: 19px 18px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-editor-SaveAnimation-Icon-icon.focus-editor-SaveAnimation-Icon-in-progress {
    background:  url("/redesign/global/js/focus/img/editor_save_animation@2x.gif") center;
    -webkit-background-size: 19px 18px;
    -moz-background-size: 19px 18px;
    -o-background-size: 19px 18px;
    background-size: 19px 18px;
  }
}
.focus-editor-SaveAnimation-Icon-icon.focus-editor-SaveAnimation-Icon-visible {
  opacity: 100;
}
.focus-editor-SaveAnimation-Icon-icon.focus-editor-SaveAnimation-Icon-visible.focus-editor-SaveAnimation-Icon-gray {
  transition: opacity 0.6s ease-in-out;
}
.focus-editor-SaveAnimation-Icon-icon.focus-editor-SaveAnimation-Icon-visible.focus-editor-SaveAnimation-Icon-green {
  transition: opacity 0.2s ease-in-out 0.5s;
}
.focus-editor-SaveAnimation-Icon-icon.focus-editor-SaveAnimation-Icon-visible.focus-editor-SaveAnimation-Icon-in-progress {
  transition: opacity 0.4s ease-in-out;
}
