/* Copyright 2012, Evernote Corp
 *
 * author: Andrei Thorp, athorp@evernote.com
 */
/*** Evernote CSS Framework ***/
/* "Evernote Green" */
.focus-drawer-LoadingSpinner-container {
  left: 0;
  position: absolute;
  text-align: center;
  top: 180px;
  width: 100%;
}
.focus-drawer-LoadingSpinner-spinner {
  display: inline-block;
  height: 24px;
  width: 46px;
}
@media all {
  .focus-drawer-LoadingSpinner-spinner {
    background:  url("/redesign/global/js/focus/img/loading_dots.gif") center;
    -webkit-background-size: 46px 24px;
    -moz-background-size: 46px 24px;
    -o-background-size: 46px 24px;
    background-size: 46px 24px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-drawer-LoadingSpinner-spinner {
    background:  url("/redesign/global/js/focus/img/loading_dots@2x.gif") center;
    -webkit-background-size: 46px 24px;
    -moz-background-size: 46px 24px;
    -o-background-size: 46px 24px;
    background-size: 46px 24px;
  }
}
.focus-drawer-LoadingSpinner-label {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #c4c4c4;
  cursor: default;
  margin-top: 13px;
  text-align: center;
  text-indent: 3px;
}
