/* Copyright 2012, Evernote Corp
 *
 * author: Andrei Thorp, athorp@evernote.com
 */
/*** Evernote CSS Framework ***/
/* "Evernote Green" */
.focus-NotesView-NotesView {
  color: #878787;
  height: 100%;
  width: 350px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.focus-NotesView-NotesView * {
  box-sizing: border-box;
}
.focus-NotesView-NotesView .focus-drawer-LoadingSpinner-container {
  position: static;
  margin-top: 200px;
}
