/* Copyright 2012, Evernote Corp
 *
 * author: Andrei Thorp, athorp@evernote.com
 */
/*** Evernote CSS Framework ***/
.a11y-only {
  /* http://www.coolfields.co.uk/2016/05/text-for-screen-readers-only-updated/ */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
}
/* "Evernote Green" */
/* "Evernote Green" */
.Dropdown-menu {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  z-index: 100;
  background: #fff;
  border: 3px solid rgba(217, 217, 217, 0.4);
  border-top: 1px solid rgba(217, 217, 217, 0.4);
  border-left: 1px solid rgba(217, 217, 217, 0.4);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.04), -6px 8px 15px rgba(0, 0, 0, 0.04), 6px 8px 15px rgba(0, 0, 0, 0.04);
  padding: 12px 0;
  margin-top: 4px;
  color: #606060;
}
.Dropdown-menu legend {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ababab;
  margin: 7px 0 12px 20px;
}
.Dropdown-menu .Toggle,
.Dropdown-menu .SelectorOption {
  width: 100%;
  padding: 9px 54px 10px 20px;
  transition-duration: 0.1s;
  transition-property: color, background;
  transition-timing-function: ease-in-out;
}
.Dropdown-menu .Toggle:hover,
.Dropdown-menu .SelectorOption:hover,
.Dropdown-menu .Toggle:focus,
.Dropdown-menu .SelectorOption:focus {
  background: #2dbe60;
  color: #fff;
}
@media all {
  .Dropdown-menu .SelectorOption-selected {
    background:  url("/redesign/global/js/focus/img/Menu/checkmark_green1_12x12.png") right 20px center no-repeat;
    -webkit-background-size: 12px 12px;
    -moz-background-size: 12px 12px;
    -o-background-size: 12px 12px;
    background-size: 12px 12px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .Dropdown-menu .SelectorOption-selected {
    background:  url("/redesign/global/js/focus/img/Menu/checkmark_green1_12x12@2x.png") right 20px center no-repeat;
    -webkit-background-size: 12px 12px;
    -moz-background-size: 12px 12px;
    -o-background-size: 12px 12px;
    background-size: 12px 12px;
  }
}
@media all {
  .Dropdown-menu .SelectorOption-selected:hover,
  .Dropdown-menu .SelectorOption-selected:focus {
    background:  url("/redesign/global/js/focus/img/Menu/checkmark_white_12x12.png") #2dbe60 right 20px center no-repeat;
    -webkit-background-size: 12px 12px;
    -moz-background-size: 12px 12px;
    -o-background-size: 12px 12px;
    background-size: 12px 12px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .Dropdown-menu .SelectorOption-selected:hover,
  html:not(.ie8) .Dropdown-menu .SelectorOption-selected:focus {
    background:  url("/redesign/global/js/focus/img/Menu/checkmark_white_12x12@2x.png") #2dbe60 right 20px center no-repeat;
    -webkit-background-size: 12px 12px;
    -moz-background-size: 12px 12px;
    -o-background-size: 12px 12px;
    background-size: 12px 12px;
  }
}
@media all {
  .Dropdown-menu .Toggle-true {
    background:  url("/redesign/global/js/focus/img/Menu/box_checked_green_24x24.png") right 18px center no-repeat;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .Dropdown-menu .Toggle-true {
    background:  url("/redesign/global/js/focus/img/Menu/box_checked_green_24x24@2x.png") right 18px center no-repeat;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}
@media all {
  .Dropdown-menu .Toggle-true:hover,
  .Dropdown-menu .Toggle-true:focus {
    background:  url("/redesign/global/js/focus/img/Menu/box_checked_white_24x24.png") #2dbe60 right 18px center no-repeat;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .Dropdown-menu .Toggle-true:hover,
  html:not(.ie8) .Dropdown-menu .Toggle-true:focus {
    background:  url("/redesign/global/js/focus/img/Menu/box_checked_white_24x24@2x.png") #2dbe60 right 18px center no-repeat;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}
@media all {
  .Dropdown-menu .Toggle-false {
    background:  url("/redesign/global/js/focus/img/Menu/box_empty_gray_24x24.png") right 18px center no-repeat;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .Dropdown-menu .Toggle-false {
    background:  url("/redesign/global/js/focus/img/Menu/box_empty_gray_24x24@2x.png") right 18px center no-repeat;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}
@media all {
  .Dropdown-menu .Toggle-false:hover,
  .Dropdown-menu .Toggle-false:focus {
    background:  url("/redesign/global/js/focus/img/Menu/box_empty_white_24x24.png") #2dbe60 right 18px center no-repeat;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .Dropdown-menu .Toggle-false:hover,
  html:not(.ie8) .Dropdown-menu .Toggle-false:focus {
    background:  url("/redesign/global/js/focus/img/Menu/box_empty_white_24x24@2x.png") #2dbe60 right 18px center no-repeat;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}
.Dropdown-menu .MenuDivider {
  border-top: 1px solid #ececec;
  margin: 15px 15px 23px;
}
.focus-NotesView-RemindersList {
  border-top: 2px solid #ececec;
  border-bottom: 3px solid #ececec;
}
.focus-NotesView-RemindersList-QuickReminderCreator-form,
.focus-NotesView-RemindersList-notebookReminders {
  display: none;
}
.focus-NotesView-RemindersList-expanded .focus-NotesView-RemindersList-notebookReminders,
.focus-NotesView-RemindersList-expanded .focus-NotesView-RemindersList-QuickReminderCreator-form {
  display: block;
}
.focus-NotesView-RemindersList-remindersHeader {
  position: relative;
  cursor: pointer;
  height: 40px;
}
.focus-NotesView-RemindersList-remindersTitle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 24px;
  line-height: 40px;
}
.focus-NotesView-RemindersList-remindersTitle::before {
  margin: 2px 8px 0 4px;
  width: 5px;
  height: 9px;
  display: inline-block;
  content: '';
  vertical-align: text-top;
}
@media all {
  .focus-NotesView-RemindersList-remindersTitle::before {
    background:  url("/redesign/global/js/focus/img/caret_medgray3_right_5x9.png") center;
    background-size: 5px 9px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  .focus-NotesView-RemindersList-remindersTitle::before {
    background:  url("/redesign/global/js/focus/img/caret_medgray3_right_5x9@2x.png") center;
    background-size: 5px 9px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) and (-moz-min-device-pixel-ratio: 1.5), all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) and (-o-min-device-pixel-ratio: 3/2), all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) and (-webkit-min-device-pixel-ratio: 1.5), all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) and (min-device-pixel-ratio: 1.5), all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) and (min-resolution: 1.5dppx) {
  .focus-NotesView-RemindersList-remindersTitle::before {
    background:  url("/redesign/global/js/focus/img/caret_medgray3_right_5x9@2x.png") center;
    background-size: 5px 9px;
  }
}
@media all {
  .focus-NotesView-RemindersList-remindersTitle::before {
    background:  url("/redesign/global/js/focus/img/caret_medgray3_right_5x9.png") center;
    background-size: 5px 9px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  .focus-NotesView-RemindersList-remindersTitle::before {
    background:  url("/redesign/global/js/focus/img/caret_medgray3_right_5x9@2x.png") center;
    background-size: 5px 9px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) and (-moz-min-device-pixel-ratio: 1.5), all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) and (-o-min-device-pixel-ratio: 3/2), all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) and (-webkit-min-device-pixel-ratio: 1.5), all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) and (min-device-pixel-ratio: 1.5), all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) and (min-resolution: 1.5dppx) {
  .focus-NotesView-RemindersList-remindersTitle::before {
    background:  url("/redesign/global/js/focus/img/caret_medgray3_right_5x9@2x.png") center;
    background-size: 5px 9px;
  }
}
.focus-NotesView-RemindersList-expanded .focus-NotesView-RemindersList-remindersTitle::before {
  margin: 5px 8px 0 0;
  width: 9px;
  height: 5px;
}
@media all {
  .focus-NotesView-RemindersList-expanded .focus-NotesView-RemindersList-remindersTitle::before {
    background:  url("/redesign/global/js/focus/img/caret_medgray3_9x5.png") center;
    background-size: 9px 5px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  .focus-NotesView-RemindersList-expanded .focus-NotesView-RemindersList-remindersTitle::before {
    background:  url("/redesign/global/js/focus/img/caret_medgray3_9x5@2x.png") center;
    background-size: 9px 5px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) and (-moz-min-device-pixel-ratio: 1.5), all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) and (-o-min-device-pixel-ratio: 3/2), all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) and (-webkit-min-device-pixel-ratio: 1.5), all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) and (min-device-pixel-ratio: 1.5), all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) and (min-resolution: 1.5dppx) {
  .focus-NotesView-RemindersList-expanded .focus-NotesView-RemindersList-remindersTitle::before {
    background:  url("/redesign/global/js/focus/img/caret_medgray3_9x5@2x.png") center;
    background-size: 9px 5px;
  }
}
@media all {
  .focus-NotesView-RemindersList-expanded .focus-NotesView-RemindersList-remindersTitle::before {
    background:  url("/redesign/global/js/focus/img/caret_medgray3_9x5.png") center;
    background-size: 9px 5px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  .focus-NotesView-RemindersList-expanded .focus-NotesView-RemindersList-remindersTitle::before {
    background:  url("/redesign/global/js/focus/img/caret_medgray3_9x5@2x.png") center;
    background-size: 9px 5px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) and (-moz-min-device-pixel-ratio: 1.5), all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) and (-o-min-device-pixel-ratio: 3/2), all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) and (-webkit-min-device-pixel-ratio: 1.5), all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) and (min-device-pixel-ratio: 1.5), all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) and (min-resolution: 1.5dppx) {
  .focus-NotesView-RemindersList-expanded .focus-NotesView-RemindersList-remindersTitle::before {
    background:  url("/redesign/global/js/focus/img/caret_medgray3_9x5@2x.png") center;
    background-size: 9px 5px;
  }
}
.focus-NotesView-NotebookReminders-notebookTitle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  color: #878787;
  height: 40px;
  padding: 12px 12px 12px 20px;
  cursor: pointer;
}
.focus-NotesView-NotebookReminders-notebookTitle span {
  max-width: 270px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 17px;
  display: inline-block;
}
.focus-NotesView-NotebookReminders-notebookTitle:hover {
  background: #2dbe60;
  color: #fff;
}
.focus-NotesView-NotebookReminders-notebookTitle::before {
  width: 16px;
  height: 16px;
  display: inline-block;
  content: '';
  vertical-align: top;
  margin-top: 1px;
  margin-right: 1px;
}
@media all {
  .focus-NotesView-NotebookReminders-notebookTitle::before {
    background:  url("/redesign/global/js/focus/img/RemindersList/notebook_dark_grey_16x16.png") center;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-NotesView-NotebookReminders-notebookTitle::before {
    background:  url("/redesign/global/js/focus/img/RemindersList/notebook_dark_grey_16x16@2x.png") center;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all {
  .focus-NotesView-NotebookReminders-notebookTitle:hover::before {
    background:  url("/redesign/global/js/focus/img/RemindersList/notebook_white_16x16.png") center;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-NotesView-NotebookReminders-notebookTitle:hover::before {
    background:  url("/redesign/global/js/focus/img/RemindersList/notebook_white_16x16@2x.png") center;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
.focus-NotesView-NotebookReminders-notebookTitle .focus-NotesView-NotebookReminders-notebookTitleDownCaret {
  width: 5px;
  height: 9px;
  display: inline-block;
  margin-left: 5px;
  margin-top: 3px;
  vertical-align: top;
}
@media all {
  .focus-NotesView-NotebookReminders-notebookTitle .focus-NotesView-NotebookReminders-notebookTitleDownCaret {
    background:  url("/redesign/global/js/focus/img/caret_medgray3_right_5x9.png") center;
    -webkit-background-size: 5px 9px;
    -moz-background-size: 5px 9px;
    -o-background-size: 5px 9px;
    background-size: 5px 9px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-NotesView-NotebookReminders-notebookTitle .focus-NotesView-NotebookReminders-notebookTitleDownCaret {
    background:  url("/redesign/global/js/focus/img/caret_medgray3_right_5x9@2x.png") center;
    -webkit-background-size: 5px 9px;
    -moz-background-size: 5px 9px;
    -o-background-size: 5px 9px;
    background-size: 5px 9px;
  }
}
@media all {
  .focus-NotesView-NotebookReminders-notebookTitle:hover .focus-NotesView-NotebookReminders-notebookTitleDownCaret {
    background:  url("/redesign/global/js/focus/img/caret_white_right_5x9.png") center;
    -webkit-background-size: 5px 9px;
    -moz-background-size: 5px 9px;
    -o-background-size: 5px 9px;
    background-size: 5px 9px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-NotesView-NotebookReminders-notebookTitle:hover .focus-NotesView-NotebookReminders-notebookTitleDownCaret {
    background:  url("/redesign/global/js/focus/img/caret_white_right_5x9@2x.png") center;
    -webkit-background-size: 5px 9px;
    -moz-background-size: 5px 9px;
    -o-background-size: 5px 9px;
    background-size: 5px 9px;
  }
}
.focus-NotesView-NotebookReminders.focus-NotesView-NotebookReminders-expanded .focus-NotesView-NotebookReminders-notebookTitle .focus-NotesView-NotebookReminders-notebookTitleDownCaret {
  width: 9px;
  height: 5px;
  margin-top: 5px;
}
@media all {
  .focus-NotesView-NotebookReminders.focus-NotesView-NotebookReminders-expanded .focus-NotesView-NotebookReminders-notebookTitle .focus-NotesView-NotebookReminders-notebookTitleDownCaret {
    background:  url("/redesign/global/js/focus/img/caret_medgray3_9x5.png") center;
    -webkit-background-size: 9px 5px;
    -moz-background-size: 9px 5px;
    -o-background-size: 9px 5px;
    background-size: 9px 5px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-NotesView-NotebookReminders.focus-NotesView-NotebookReminders-expanded .focus-NotesView-NotebookReminders-notebookTitle .focus-NotesView-NotebookReminders-notebookTitleDownCaret {
    background:  url("/redesign/global/js/focus/img/caret_medgray3_9x5@2x.png") center;
    -webkit-background-size: 9px 5px;
    -moz-background-size: 9px 5px;
    -o-background-size: 9px 5px;
    background-size: 9px 5px;
  }
}
@media all {
  .focus-NotesView-NotebookReminders.focus-NotesView-NotebookReminders-expanded .focus-NotesView-NotebookReminders-notebookTitle:hover .focus-NotesView-NotebookReminders-notebookTitleDownCaret {
    background:  url("/redesign/global/js/focus/img/caret_white_9x5.png") center;
    -webkit-background-size: 9px 5px;
    -moz-background-size: 9px 5px;
    -o-background-size: 9px 5px;
    background-size: 9px 5px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-NotesView-NotebookReminders.focus-NotesView-NotebookReminders-expanded .focus-NotesView-NotebookReminders-notebookTitle:hover .focus-NotesView-NotebookReminders-notebookTitleDownCaret {
    background:  url("/redesign/global/js/focus/img/caret_white_9x5@2x.png") center;
    -webkit-background-size: 9px 5px;
    -moz-background-size: 9px 5px;
    -o-background-size: 9px 5px;
    background-size: 9px 5px;
  }
}
.focus-NotesView-RemindersList-notebookReminders {
  padding-bottom: 12px;
}
.focus-NotesView-RemindersList-rightBadge {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 22px;
  top: 0;
  color: #878787;
}
.focus-NotesView-RemindersList-numReminders {
  margin-top: 10px;
}
.focus-NotesView-RemindersList-numReminders::after {
  width: 16px;
  height: 16px;
  display: inline-block;
  content: '';
  margin-left: 8px;
  vertical-align: text-bottom;
}
@media all {
  .focus-NotesView-RemindersList-numReminders::after {
    background:  url("/redesign/global/js/focus/img/RemindersList/reminder_solid_grey.png") center;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-NotesView-RemindersList-numReminders::after {
    background:  url("/redesign/global/js/focus/img/RemindersList/reminder_solid_grey@2x.png") center;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
.focus-NotesView-RemindersList-reminderOptions {
  width: 24px;
  height: 24px;
  margin-top: 8px;
}
@media all {
  .focus-NotesView-RemindersList-reminderOptions {
    background:  url("/redesign/global/js/focus/img/RemindersList/settings_grey_24x24.png") center;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-NotesView-RemindersList-reminderOptions {
    background:  url("/redesign/global/js/focus/img/RemindersList/settings_grey_24x24@2x.png") center;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}
@media all {
  .focus-NotesView-RemindersList-reminderOptions:hover,
  .focus-NotesView-RemindersList .Dropdown.opened .focus-NotesView-RemindersList-reminderOptions {
    background:  url("/redesign/global/js/focus/img/RemindersList/settings_green_24x24.png") center;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-NotesView-RemindersList-reminderOptions:hover,
  html:not(.ie8) .focus-NotesView-RemindersList .Dropdown.opened .focus-NotesView-RemindersList-reminderOptions {
    background:  url("/redesign/global/js/focus/img/RemindersList/settings_green_24x24@2x.png") center;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}
.focus-NotesView-NotebookReminders-DropAreaContainer {
  height: 2px;
  background: white;
  position: relative;
  padding: 0;
}
.focus-NotesView-NotebookReminders-DropAreaContainer .focus-NotesView-NotebookReminders-DropArea {
  position: absolute;
  width: 100%;
  height: 40px;
  top: -20px;
  left: 0;
  z-index: -20;
}
.focus-NotesView-NotebookReminders-DropAreaContainer .focus-NotesView-NotebookReminders-DropArea.focus-NotesView-NotebookReminders-DropAreaHovered .focus-NotesView-NotebookReminders-DropAreaLine {
  margin: 18px 12px 0 12px;
  padding: 0 24px;
  height: 2px;
  background: #c9f2d0;
}
