/* Copyright 2012, Evernote Corp
 *
 * author: Andrei Thorp, athorp@evernote.com
 */
/*** Evernote CSS Framework ***/
/* "Evernote Green" */
.focus-NotesView-RemindersList-Reminder {
  position: relative;
  height: 40px;
  padding-left: 40px;
  padding-right: 12px;
  width: 100%;
  cursor: pointer;
  transition: background 0.15s ease-in-out, width 0.15s ease-in-out, color 0.15s ease-in-out;
}
.focus-NotesView-RemindersList-Reminder:hover {
  background: #2dbe60;
}
.focus-NotesView-RemindersList-Reminder-title {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: caecilia, times, serif;
  font-size: 16px;
  font-weight: 400;
  color: #4a4a4a;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  padding-right: 24px;
}
.focus-NotesView-RemindersList-Reminder-done .focus-NotesView-RemindersList-Reminder-title {
  text-decoration: line-through;
}
.focus-NotesView-RemindersList-Reminder-reminderDate {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 36px;
  line-height: 40px;
  white-space: nowrap;
  text-align: right;
}
.focus-NotesView-RemindersList-Reminder-done .focus-NotesView-RemindersList-Reminder-reminderDate {
  text-decoration: line-through;
}
.focus-NotesView-RemindersList-Reminder:hover .focus-NotesView-RemindersList-Reminder-reminderDate {
  display: none;
}
.focus-NotesView-RemindersList-Reminder-hasDate .focus-NotesView-RemindersList-Reminder-title {
  max-width: 210px;
}
.focus-NotesView-RemindersList-Reminder:hover .focus-NotesView-RemindersList-Reminder-title {
  color: #fff;
  max-width: 210px;
}
.focus-NotesView-RemindersList-Reminder-reminderOptions {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 40px;
  color: #fff;
}
.focus-NotesView-RemindersList-Reminder:hover .focus-NotesView-RemindersList-Reminder-reminderOptions {
  display: block;
}
.focus-NotesView-RemindersList-Reminder-edit {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
  padding-right: 12px;
  border-right: 1px solid #fff;
  height: 40px;
  vertical-align: top;
}
.focus-NotesView-RemindersList-Reminder-edit:hover {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
}
.focus-NotesView-RemindersList-Reminder .focus-tooltip-ButtonTooltip-tooltip-container {
  height: auto;
  width: auto;
  line-height: initial;
}
.focus-NotesView-RemindersList-Reminder-checkbox-undone,
.focus-NotesView-RemindersList-Reminder-checkbox-done {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}
@media all {
  .focus-NotesView-RemindersList-Reminder-checkbox-done {
    background:  url("/redesign/global/js/focus/img/RemindersList/checkbox_checked_white_24x24.png") center no-repeat;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-NotesView-RemindersList-Reminder-checkbox-done {
    background:  url("/redesign/global/js/focus/img/RemindersList/checkbox_checked_white_24x24@2x.png") center no-repeat;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}
@media all {
  .focus-NotesView-RemindersList-Reminder-checkbox-undone {
    background:  url("/redesign/global/js/focus/img/RemindersList/checkbox_white_24x24.png") center no-repeat;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-NotesView-RemindersList-Reminder-checkbox-undone {
    background:  url("/redesign/global/js/focus/img/RemindersList/checkbox_white_24x24@2x.png") center no-repeat;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}
@media all {
  .focus-NotesView-RemindersList-Reminder-checkbox-undone:hover {
    background:  url("/redesign/global/js/focus/img/RemindersList/checkbox_solid_white_24x24.png") center no-repeat;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-NotesView-RemindersList-Reminder-checkbox-undone:hover {
    background:  url("/redesign/global/js/focus/img/RemindersList/checkbox_solid_white_24x24@2x.png") center no-repeat;
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}
.focus-NotesView-RemindersList-Reminder-checkboxTooltip {
  display: inline-block;
}
.focus-NotesView-RemindersList-Reminder-dragging {
  width: 380px;
  background: white;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  opacity: .92;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.focus-NotesView-RemindersList-Reminder-dragging .focus-NotesView-RemindersList-Reminder-reminderDate {
  display: none;
}
