/* Copyright 2012, Evernote Corp
 *
 * author: Andrei Thorp, athorp@evernote.com
 */
/*** Evernote CSS Framework ***/
.focus-editor-SaveAnimation-SaveAnimation-container {
  height: 18px;
  position: relative;
  width: 19px;
}
