/* Copyright 2012, Evernote Corp
 *
 * author: Andrei Thorp, athorp@evernote.com
 */
/*** Evernote CSS Framework ***/
.focus-drawer-TagsDrawer-Tag-input-switcher {
  margin-bottom: 12px;
  margin-top: 12px;
  position: relative;
  white-space: nowrap;
}
.focus-drawer-TagsDrawer-Tag-dragging {
  margin: 0;
}
