/* Copyright 2012, Evernote Corp
 *
 * author: Andrei Thorp, athorp@evernote.com
 */
/*** Evernote CSS Framework ***/
/* "Evernote Green" */
.focus-drawer-TagsDrawer-TagSelectable-container,
.focus-drawer-TagsDrawer-TagSelectable-name,
.focus-drawer-TagsDrawer-TagSelectable-count {
  display: inline-block;
  vertical-align: top;
}
.focus-drawer-TagsDrawer-TagSelectable-container {
  position: relative;
  cursor: pointer;
  color: #4a4a4a;
  background-color: #f8f8f8;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-sizing: border-box;
  line-height: 22px;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, width 0.5s ease-in-out, margin 0.5s ease-in-out;
  white-space: nowrap;
}
.focus-drawer-TagsDrawer-TagSelectable-container.focus-drawer-TagsDrawer-TagSelectable-disable-transition {
  transition: none;
}
.focus-drawer-TagsDrawer-TagSelectable-container.focus-drawer-TagsDrawer-TagSelectable-dragging {
  transition: none;
  width: 408px !important;
  background-color: #2dbe60;
  border: 2px solid #2dbe60;
  border-radius: 3px;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.15);
}
.focus-drawer-TagsDrawer-TagSelectable-container.focus-drawer-TagsDrawer-TagSelectable-drop-highlight {
  background-color: #d5f2df;
  border-color: #d5f2df;
}
.focus-drawer-TagsDrawer-TagSelectable-container:hover {
  background-color: #2dbe60;
  border-color: #2dbe60;
}
.focus-drawer-TagsDrawer-TagSelectable-container.focus-drawer-TagsDrawer-TagSelectable-edit-mode {
  border-color: #ababab;
  transition: visibility 0s 0.5s, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, width 0.5s ease-in-out, margin 0.5s ease-in-out;
  visibility: hidden;
  width: 372px !important;
}
.focus-drawer-TagsDrawer-TagSelectable-container.focus-drawer-TagsDrawer-TagSelectable-top-match {
  border-color: #2dbe60;
}
.focus-drawer-TagsDrawer-TagSelectable-container.focus-drawer-TagsDrawer-TagSelectable-selected {
  border-color: #2dbe60;
}
.focus-drawer-TagsDrawer-TagSelectable-name {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #4a4a4a;
  cursor: pointer;
  margin-left: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.2s ease-in-out;
}
.focus-drawer-TagsDrawer-TagSelectable-dragging .focus-drawer-TagsDrawer-TagSelectable-name {
  color: #ffffff;
  font-size: 14px;
  max-width: 150px;
}
.focus-drawer-TagsDrawer-TagSelectable-container:hover .focus-drawer-TagsDrawer-TagSelectable-name {
  color: #ffffff;
}
.focus-drawer-TagsDrawer-TagSelectable-container.focus-drawer-TagsDrawer-TagSelectable-child .focus-drawer-TagsDrawer-TagSelectable-name,
.focus-drawer-TagsDrawer-TagSelectable-container.focus-drawer-TagsDrawer-TagSelectable-match .focus-drawer-TagsDrawer-TagSelectable-name {
  font-weight: bold;
}
.focus-drawer-TagsDrawer-TagSelectable-count {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #28a955;
  margin: 0 12px;
  transition: color 0.2s ease-in-out, opacity 0.1s ease-in-out 0.2s;
  opacity: 1;
}
.focus-drawer-TagsDrawer-TagSelectable-container:hover .focus-drawer-TagsDrawer-TagSelectable-count {
  color: #c9f2d0;
}
.focus-drawer-TagsDrawer-TagSelectable-dragging .focus-drawer-TagsDrawer-TagSelectable-count {
  color: #c9f2d0;
  opacity: 0;
}
.focus-drawer-TagsDrawer-TagSelectable-container.focus-drawer-TagsDrawer-TagSelectable-edit-mode .focus-drawer-TagsDrawer-TagSelectable-count {
  opacity: 0;
  transition: color 0.2s ease-in-out, opacity 0.1s ease-in-out;
}
.focus-drawer-TagsDrawer-TagSelectable-disclosure {
  border-left: 1px solid #d1d1d1;
  height: 22px;
  display: inline-block;
  transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.1s ease-in-out 0.2s;
  width: 21px;
  vertical-align: top;
  opacity: 1;
}
@media all {
  .focus-drawer-TagsDrawer-TagSelectable-disclosure.focus-drawer-TagsDrawer-TagSelectable-open {
    background:  url("/redesign/global/js/focus/img/caret_medgray3_9x5.png") no-repeat center;
    -webkit-background-size: 9px 5px;
    -moz-background-size: 9px 5px;
    -o-background-size: 9px 5px;
    background-size: 9px 5px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-drawer-TagsDrawer-TagSelectable-disclosure.focus-drawer-TagsDrawer-TagSelectable-open {
    background:  url("/redesign/global/js/focus/img/caret_medgray3_9x5@2x.png") no-repeat center;
    -webkit-background-size: 9px 5px;
    -moz-background-size: 9px 5px;
    -o-background-size: 9px 5px;
    background-size: 9px 5px;
  }
}
@media all {
  .focus-drawer-TagsDrawer-TagSelectable-container:hover .focus-drawer-TagsDrawer-TagSelectable-disclosure.focus-drawer-TagsDrawer-TagSelectable-open,
  .focus-drawer-TagsDrawer-TagSelectable-dragging .focus-drawer-TagsDrawer-TagSelectable-disclosure.focus-drawer-TagsDrawer-TagSelectable-open {
    background:  url("/redesign/global/js/focus/img/caret_white_9x5.png") no-repeat center;
    -webkit-background-size: 9px 5px;
    -moz-background-size: 9px 5px;
    -o-background-size: 9px 5px;
    background-size: 9px 5px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-drawer-TagsDrawer-TagSelectable-container:hover .focus-drawer-TagsDrawer-TagSelectable-disclosure.focus-drawer-TagsDrawer-TagSelectable-open,
  html:not(.ie8) .focus-drawer-TagsDrawer-TagSelectable-dragging .focus-drawer-TagsDrawer-TagSelectable-disclosure.focus-drawer-TagsDrawer-TagSelectable-open {
    background:  url("/redesign/global/js/focus/img/caret_white_9x5@2x.png") no-repeat center;
    -webkit-background-size: 9px 5px;
    -moz-background-size: 9px 5px;
    -o-background-size: 9px 5px;
    background-size: 9px 5px;
  }
}
@media all {
  .focus-drawer-TagsDrawer-TagSelectable-disclosure.focus-drawer-TagsDrawer-TagSelectable-closed {
    background:  url("/redesign/global/js/focus/img/caret_medgray3_right_5x9.png") no-repeat center;
    -webkit-background-size: 5px 9px;
    -moz-background-size: 5px 9px;
    -o-background-size: 5px 9px;
    background-size: 5px 9px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-drawer-TagsDrawer-TagSelectable-disclosure.focus-drawer-TagsDrawer-TagSelectable-closed {
    background:  url("/redesign/global/js/focus/img/caret_medgray3_right_5x9@2x.png") no-repeat center;
    -webkit-background-size: 5px 9px;
    -moz-background-size: 5px 9px;
    -o-background-size: 5px 9px;
    background-size: 5px 9px;
  }
}
@media all {
  .focus-drawer-TagsDrawer-TagSelectable-container:hover .focus-drawer-TagsDrawer-TagSelectable-disclosure.focus-drawer-TagsDrawer-TagSelectable-closed,
  .focus-drawer-TagsDrawer-TagSelectable-dragging .focus-drawer-TagsDrawer-TagSelectable-disclosure.focus-drawer-TagsDrawer-TagSelectable-closed {
    background:  url("/redesign/global/js/focus/img/caret_white_right_5x9.png") no-repeat center;
    -webkit-background-size: 5px 9px;
    -moz-background-size: 5px 9px;
    -o-background-size: 5px 9px;
    background-size: 5px 9px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-drawer-TagsDrawer-TagSelectable-container:hover .focus-drawer-TagsDrawer-TagSelectable-disclosure.focus-drawer-TagsDrawer-TagSelectable-closed,
  html:not(.ie8) .focus-drawer-TagsDrawer-TagSelectable-dragging .focus-drawer-TagsDrawer-TagSelectable-disclosure.focus-drawer-TagsDrawer-TagSelectable-closed {
    background:  url("/redesign/global/js/focus/img/caret_white_right_5x9@2x.png") no-repeat center;
    -webkit-background-size: 5px 9px;
    -moz-background-size: 5px 9px;
    -o-background-size: 5px 9px;
    background-size: 5px 9px;
  }
}
.focus-drawer-TagsDrawer-TagSelectable-container.focus-drawer-TagsDrawer-TagSelectable-selected .focus-drawer-TagsDrawer-TagSelectable-disclosure {
  border-color: #2dbe60;
}
.focus-drawer-TagsDrawer-TagSelectable-container:hover .focus-drawer-TagsDrawer-TagSelectable-disclosure,
.focus-drawer-TagsDrawer-TagSelectable-dragging .focus-drawer-TagsDrawer-TagSelectable-disclosure {
  border-color: #ffffff;
}
.focus-drawer-TagsDrawer-TagSelectable-dragging .focus-drawer-TagsDrawer-TagSelectable-disclosure {
  opacity: 0;
}
.focus-drawer-TagsDrawer-TagSelectable-drop-highlight .focus-drawer-TagsDrawer-TagSelectable-disclosure {
  border-left: 1px solid #d5f2df;
}
.focus-drawer-TagsDrawer-TagSelectable-disclosure:hover {
  background-color: #2bb55c !important;
}
.focus-drawer-TagsDrawer-TagSelectable-container.focus-drawer-TagsDrawer-TagSelectable-edit-mode .focus-drawer-TagsDrawer-TagSelectable-disclosure {
  opacity: 0;
  transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.1s ease-in-out;
}
.focus-drawer-TagsDrawer-TagSelectable-action-container {
  display: inline-block;
  transition: opacity 0.3s ease-in-out;
  vertical-align: top;
}
.focus-drawer-TagsDrawer-TagSelectable-action-container.focus-drawer-TagsDrawer-TagSelectable-hidden {
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
  visibility: hidden;
}
.focus-drawer-TagsDrawer-TagSelectable-inline-block {
  display: inline-block;
  vertical-align: top;
}
.focus-drawer-TagsDrawer-TagSelectable-icon {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}
.focus-drawer-TagsDrawer-TagSelectable-shortcut-icon {
  height: 16px;
  margin-left: 12px;
  margin-top: 4px;
  transition: background 0.1s ease-in-out;
  width: 16px;
}
@media all {
  .focus-drawer-TagsDrawer-TagSelectable-shortcut-icon {
    background:  url("/redesign/global/js/focus/img/tags_shortcut_gray.png") center;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-drawer-TagsDrawer-TagSelectable-shortcut-icon {
    background:  url("/redesign/global/js/focus/img/tags_shortcut_gray@2x.png") center;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all {
  .focus-drawer-TagsDrawer-TagSelectable-shortcut-icon.focus-drawer-TagsDrawer-TagSelectable-is-shortcut {
    background:  url("/redesign/global/js/focus/img/tags_shortcut_green.png") center;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-drawer-TagsDrawer-TagSelectable-shortcut-icon.focus-drawer-TagsDrawer-TagSelectable-is-shortcut {
    background:  url("/redesign/global/js/focus/img/tags_shortcut_green@2x.png") center;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
.focus-drawer-TagsDrawer-TagSelectable-edit-icon {
  height: 16px;
  margin-left: 8px;
  margin-top: 4px;
  transition: background 0.1s ease-in-out;
  width: 16px;
}
@media all {
  .focus-drawer-TagsDrawer-TagSelectable-edit-icon {
    background:  url("/redesign/global/js/focus/img/edit_solid_gray_16x16.png") center;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-drawer-TagsDrawer-TagSelectable-edit-icon {
    background:  url("/redesign/global/js/focus/img/edit_solid_gray_16x16@2x.png") center;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all {
  .focus-drawer-TagsDrawer-TagSelectable-edit-icon:hover {
    background:  url("/redesign/global/js/focus/img/edit_solid_green_16x16.png") center;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-drawer-TagsDrawer-TagSelectable-edit-icon:hover {
    background:  url("/redesign/global/js/focus/img/edit_solid_green_16x16@2x.png") center;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
.focus-drawer-TagsDrawer-TagSelectable-delete-icon {
  height: 16px;
  margin-left: 8px;
  margin-top: 4px;
  transition: background 0.1s ease-in-out;
  width: 16px;
}
@media all {
  .focus-drawer-TagsDrawer-TagSelectable-delete-icon {
    background:  url("/redesign/global/js/focus/img/delete_solid_gray_16x16.png") center;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-drawer-TagsDrawer-TagSelectable-delete-icon {
    background:  url("/redesign/global/js/focus/img/delete_solid_gray_16x16@2x.png") center;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all {
  .focus-drawer-TagsDrawer-TagSelectable-delete-icon:hover {
    background:  url("/redesign/global/js/focus/img/delete_solid_green_16x16.png") center;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
@media all and (-moz-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (-webkit-min-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5), all and (min-resolution: 1.5dppx) {
  html:not(.ie8) .focus-drawer-TagsDrawer-TagSelectable-delete-icon:hover {
    background:  url("/redesign/global/js/focus/img/delete_solid_green_16x16@2x.png") center;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    background-size: 16px 16px;
  }
}
.focus-drawer-TagsDrawer-TagSelectable-drop-action-string {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 10px;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-size: 13px;
  font-weight: 500;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease-in-out 0.2s;
}
.focus-drawer-TagsDrawer-TagSelectable-dragging .focus-drawer-TagsDrawer-TagSelectable-drop-action-string {
  opacity: 1;
}
